.chat-main-message-box
  .chat-main-message-box-upper
    .chat-main-message-box-upper-info
      = message.user.name
    .chat-main-message-box-upper-date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  - if message.content.present?
    .chat-main-message-box-text
      = message.content
  = image_tag message.image.url, class: 'lower-message__image' if message.image.present?