.wrapper
  = render "messages/side_bar"
  .chat-main
    .chat-main-header
      .chat-main-header-left
        .chat-main-header-left-top
          57期
        .chat-main-header-left-bottom
          kkkkkkk: thanks thanks
      .chat-main-header-right
        .chat-main-header-right-edit
          edit
    .chat-main-message
      .chat-main-message-box
        .chat-main-message-box-upper
          .chat-main-message-box-upper-info
            samplesample
          .chat-main-message-box-upper-date
            日付け
        .chat-main-message-box-text
          hello!
      .chat-main-message-box
        .chat-main-message-box-upper
          .chat-main-message-box-upper-info
            samplesample
          .chat-main-message-box-upper-date
            日付け
        .chat-main-message-box-text
          hello!
    .chat-main-form
      .chat-main-form-box
        .chat-main-form-box-message
          Type a message
          %label.chat-main-form-box-message-icon
            %input{:type => "file"}
            = fa_icon "image"
        .chat-main-form-box-send
          send